/*Pour index*/

p.sp{
	font-size: 30px;
	color: #F4AB07;
	font-weight: bold
}

p.sp2{
	font-size: 30px;
	color: #F4AB07;
	font-weight: bold
}


p.n{
	font-size: 25px;
	color: #FEFEFE;
	font-weight: bold;
    padding-right: 250px;
	padding-left: 250px
}

p.w{
	font-size: 80px;
	color: #CDEAE6;
	font-weight: bold;
}

p.v{
	font-size: 25px;
	color: #FEFEFE;
	font-weight: bold;
	padding-left: 250px;
	padding-right: 250px
}


body.a{
	background: url("https://images4.alphacoders.com/980/980848.jpg") ;
	background-size: 100%;
		
	
}


h1.marre{
	font-size: 70px;
	color: white;
	font-weight: bold;
	align-items: centre;
	justify-content: center;
	
}

h1.marree{
	font-size: 70px;
	color: white;
	font-weight: bold;
}

p.intro{
	color: white;
	font-style: italic;
	font-size: 20px;


}

a.un{
	font-size: 25px;
	color: #FEFEFE;
	font-weight: bold;
	padding-left: 250px
}

a.deux{
	font-size: 25px;
	color: #EED60A;
	font-weight: bold;
}

a.cinq{
	font-size: 25px;
	color: orangered;
	font-weight: bold;
}

img.affiche{
	padding-left: 470px;
	padding-right: 470px
}

div.desc{
	background-color: #385450	
}

div.descr{
	background-color: #385450;
	border-radius: 5%;
}	


div.unun{
	background-color: #385450;
	border-radius: 5%
}

div.jsp{
	background-image: url('img/lola.jpg');
	border-radius: 5%;
	padding-left: 400px;
	padding-right: 400px;

}

iframe{
	padding-left: 300px;
	padding-right: 300px
}

div#info div.titre1{
	align-items: centre;
	justify-content: center;
}

/*Pour index0*/

body.b{
	background-image: url("https://images8.alphacoders.com/296/296059.jpg") ;
	background-size: 100%;
}

body.c{
	background-image: url("https://images3.alphacoders.com/104/104459.jpg") ;
	background-size: 100%;
}

body.d{
	background-image: url("https://images8.alphacoders.com/855/855892.jpg") ;
	background-size: 100%;
}

body.e{
	background-image: url("https://images6.alphacoders.com/505/505317.jpg") ;
	background-size: 100%;
}

body.f{
	background-image: url("https://images7.alphacoders.com/317/317140.png") ;
	background-size: 100%;
}

body.g{
	background-image: url("https://images3.alphacoders.com/172/172685.jpg") ;
	background-size: 100%;
}

body.h{
	background-image: url("https://images.alphacoders.com/128/1287544.jpg") ;
	background-size: 100%;
}

body.i{
	background-image: url("https://images4.alphacoders.com/159/159566.jpg") ;
	background-size: 100%;
}





h1.titre2{
	font-weight: bold;
	color: #4BF7EF;
	font-size: 50px
}

div#films div{
	display: inline-block;
}

div#films div.gauche1{
	background-image: "#FEFEFE";
	

}

div#films div.midless1{
	
}

div#films div.droite1{
	
}


img.affiche0{
	padding-left: 150px;
	padding-bottom: 150px;
}

img.affiche1{
	padding-left: 150px;
	padding-bottom: 150px;
	padding-right: 150px;
	
}

img.affiche3{
	padding-left: 150px;
	padding-bottom: 150px;
	padding-right: 150px;
	
}

div#films div.gauche3{
	padding-left: 555px

}

nav.menu-connexion ul li.btn{
	list-style-type: none;
	display: inline-block
}

nav.menu-connexion ul li.bnt a{
	text-decoration: none;
	background-color: darkred;
	font-size: 25px;
	color: orangered;
	font-weight: bold;
}

div#info2 div.descr{
	background-image: url("img/lola.jpg");
	background-size: 100%
}
